<ion-view>
	<ion-nav-bar class="bar-stable">
        <!--<h1 class="title">Track GPS TGA </h1>-->
        <!--<ion-nav-buttons side="primary">
      <button class="button" ng-click="doSomething()">
        I'm a button on the primary of the navbar!
      </button>
    </ion-nav-buttons>-->
    	<ion-nav-buttons side="left">
          <button class="button" ng-click="actualizarMarkers()">
            Actualizar!
          </button>
        </ion-nav-buttons> 
      </ion-nav-bar>
	<ion-content>
		<div id="map" data-tap-disabled="true"></div>
	</ion-content>
</ion-view>